.content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.image {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.loadMore {
  display: flex;
  margin: 32px 0;
  place-content: center;
}
