.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  place-content: center;
  place-items: center;
}

.logo {
  width: 164px;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
