.container {
  display: flex;
  gap: 16px;
  padding: 8px;
  place-items: center;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  /* cursor: pointer; */
}

.image,
.noImage {
  background-color: #57B660;
  border-radius: 4px;
  height: 72px;
  width: 72px;
}

.noImage {
  color: #181414;
  display: flex;
  font-family: Rubik, sans-serif;
  font-size: 48px;
  font-weight: bold;
  place-content: center;
  place-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  place-items: start;
}

.title {
  font-family: Rubik;
  font-size: 14px;
  font-weight: regular;
  color: #FFFFFF;
  line-height: 20px;
}

.description {
  font-family: Rubik;
  font-size: 12px;
  font-weight: regular;
  color: #FFFFFFCC;
  line-height: 20px;
}
